* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to left, red, blue);
}

.heading {
    font-size: 32px;
    font-weight: 500;
    font-family: cursive;
    display: block;
    text-align: center;
    margin: 2rem 0;
    color: white;
}

.hero-section-left {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}


.hero-section-p {
    font-size: 22px;
    line-height: 40px;
    color: white;
    text-align: justify;
}

.hero-section-right {
    height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    /* Options: auto, thin */
    scrollbar-color: #f4f405 #0653ec;
}

.hero-section-right thead tr {
    position: sticky;
    top: 0;
    background: linear-gradient(rgb(230, 84, 84), rgb(82, 82, 222));
    color: white;
    border: none;
}

.form-element-row label {
    font-size: 22px;
    margin: 22px 0 0;
    color: white;
}

.form-element-row input {
    font-size: 20px;
    padding: 10px 8px;
}

.form-element-row small {
    display: block;
    margin: 0.7rem 0;
}

#submitBtn {
    display: block;
    margin: 4rem auto;
    width: 40%;
}


#dynamicFormClass {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25rem;
    width: 90%;
    max-width: 40rem;
    border-radius: 1rem;
    background-color: white;
    z-index: 10;
}


#dynamicFormClass span {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}


/* Animation class inorder to add dynamic style to the form */
.showSlow {
    animation: comeSlowly 0.4s ease-out forwards;
}

@keyframes comeSlowly {
    from {
        top: -50%;
    }

    to {
        top: 50%;
    }
}


/* .hideSlow {
    animation: hideSlowly 0.4s ease-in forwards;
}

@keyframes hideSlowly {
    from {
        top: 50%;
    }

    to {
        top: -50%;
    }
} */